body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:943px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:520px;
}
#u163 {
  position:absolute;
  left:357px;
  top:32px;
  width:239px;
  height:520px;
}
#u164 {
  position:absolute;
  left:2px;
  top:252px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Bold', '思源黑体 CN';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u165 {
  position:absolute;
  left:643px;
  top:102px;
  width:300px;
  height:122px;
  font-family:'思源黑体 CN Bold', '思源黑体 CN';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
