body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:148px;
}
#u167 {
  position:absolute;
  left:411px;
  top:141px;
  width:195px;
  height:148px;
}
#u168 {
  position:absolute;
  left:2px;
  top:66px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:520px;
}
#u169 {
  position:absolute;
  left:151px;
  top:40px;
  width:239px;
  height:520px;
}
#u170 {
  position:absolute;
  left:2px;
  top:252px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:2px;
}
#u172 {
  position:absolute;
  left:196px;
  top:131px;
  width:205px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u173 {
  position:absolute;
  left:2px;
  top:-8px;
  width:201px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:100.5px 8.5px;
  -ms-transform-origin:100.5px 8.5px;
  -moz-transform-origin:100.5px 8.5px;
  -webkit-transform-origin:100.5px 8.5px;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u174 {
  position:absolute;
  left:441px;
  top:203px;
  width:175px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:2px;
}
#u177 {
  position:absolute;
  left:196px;
  top:172px;
  width:205px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u178 {
  position:absolute;
  left:2px;
  top:-8px;
  width:201px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:100.5px 8.5px;
  -ms-transform-origin:100.5px 8.5px;
  -moz-transform-origin:100.5px 8.5px;
  -webkit-transform-origin:100.5px 8.5px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:2px;
}
#u180 {
  position:absolute;
  left:196px;
  top:214px;
  width:205px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u181 {
  position:absolute;
  left:2px;
  top:-8px;
  width:201px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:100.5px 8.5px;
  -ms-transform-origin:100.5px 8.5px;
  -moz-transform-origin:100.5px 8.5px;
  -webkit-transform-origin:100.5px 8.5px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:2px;
}
#u183 {
  position:absolute;
  left:196px;
  top:256px;
  width:205px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u184 {
  position:absolute;
  left:2px;
  top:-8px;
  width:201px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:100.5px 8.5px;
  -ms-transform-origin:100.5px 8.5px;
  -moz-transform-origin:100.5px 8.5px;
  -webkit-transform-origin:100.5px 8.5px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:2px;
}
#u186 {
  position:absolute;
  left:196px;
  top:305px;
  width:205px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u187 {
  position:absolute;
  left:2px;
  top:-8px;
  width:201px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:100.5px 8.5px;
  -ms-transform-origin:100.5px 8.5px;
  -moz-transform-origin:100.5px 8.5px;
  -webkit-transform-origin:100.5px 8.5px;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Bold', '思源黑体 CN';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u188 {
  position:absolute;
  left:616px;
  top:131px;
  width:300px;
  height:182px;
  font-family:'思源黑体 CN Bold', '思源黑体 CN';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
