body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1158px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:520px;
}
#u77 {
  position:absolute;
  left:890px;
  top:373px;
  width:239px;
  height:520px;
}
#u78 {
  position:absolute;
  left:2px;
  top:252px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:520px;
}
#u79 {
  position:absolute;
  left:444px;
  top:559px;
  width:239px;
  height:520px;
}
#u80 {
  position:absolute;
  left:2px;
  top:252px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:520px;
}
#u81 {
  position:absolute;
  left:444px;
  top:13px;
  width:239px;
  height:520px;
}
#u82 {
  position:absolute;
  left:2px;
  top:252px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:195px;
  height:21px;
}
#u84p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:187px;
  height:1px;
}
#u84p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:197px;
  height:21px;
}
#u84p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u84p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u84p002 {
  position:absolute;
  left:170px;
  top:-11px;
  width:22px;
  height:22px;
}
#u84p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u84.compound {
  width:0px;
  height:0px;
}
#u84 {
  position:absolute;
  left:662px;
  top:483px;
  width:185px;
  height:1px;
}
#u85 {
  position:absolute;
  left:2px;
  top:-8px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:59px;
}
#u86 {
  position:absolute;
  left:648px;
  top:483px;
  width:66px;
  height:59px;
}
#u87 {
  position:absolute;
  left:2px;
  top:22px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:270px;
  height:21px;
}
#u89p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:262px;
  height:1px;
  -webkit-transform:rotate(-36deg);
  -moz-transform:rotate(-36deg);
  -ms-transform:rotate(-36deg);
  transform:rotate(-36deg);
}
#u89p000_img {
  position:absolute;
  left:-1px;
  top:-7px;
  width:272px;
  height:21px;
}
#u89p001 {
  position:absolute;
  left:24px;
  top:76px;
  width:2px;
  height:2px;
}
#u89p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:22px;
}
#u89p002 {
  position:absolute;
  left:221px;
  top:-85px;
  width:22px;
  height:22px;
}
#u89p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u89.compound {
  width:0px;
  height:0px;
}
#u89 {
  position:absolute;
  left:623px;
  top:855px;
  width:260px;
  height:1px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-8px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:59px;
}
#u91 {
  position:absolute;
  left:615px;
  top:912px;
  width:66px;
  height:59px;
}
#u92 {
  position:absolute;
  left:2px;
  top:22px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:44px;
}
#u93 {
  position:absolute;
  left:683px;
  top:439px;
  width:68px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u94 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:44px;
}
#u95 {
  position:absolute;
  left:611px;
  top:465px;
  width:72px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u96 {
  position:absolute;
  left:2px;
  top:14px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u97 {
  position:absolute;
  left:611px;
  top:904px;
  width:43px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:44px;
}
#u99 {
  position:absolute;
  left:683px;
  top:820px;
  width:68px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u100 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:305px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Bold', '思源黑体 CN';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u101 {
  position:absolute;
  left:858px;
  top:919px;
  width:300px;
  height:305px;
  font-family:'思源黑体 CN Bold', '思源黑体 CN';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
