body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:520px;
}
#u202 {
  position:absolute;
  left:200px;
  top:94px;
  width:239px;
  height:520px;
}
#u203 {
  position:absolute;
  left:2px;
  top:252px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
